.parallaxScroll1 {
    background-image: url("https://images.unsplash.com/photo-1439778615639-28529f7628bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 100%;
}

@media only screen and (max-width: 960px) {
  .parallaxScroll1 {
    background-size: 100%;
  }
}