.parallaxScroll1 {
    background-image: url("https://dl.dropboxusercontent.com/s/nu6a5s1h29im3r5/DSC_7015.jpg?dl=0");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 31%;
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 960px) {
  .parallaxScroll1 {
    background-size: 100%;
  }
}