.list {
   position: absolute;
}

.btn {		
	text-align: center;
	font-size: 1.4rem;
	color: var(--inv);
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	font-weight: 900;
	cursor: pointer;
	user-select: none;
	margin: 15vh;
}

.btn:hover {
   color: blue;
}

